:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --main-color: #ffffff;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --hero-btn-hover-color: #188ce8;
    --button-color: #f5f4fa;
    --our-team-bg-color: #f5f4fa;
    --border-color: #eeeeee;
    --icons-color: #afb1b8;
    --icons-transparent-color: rgba(255, 255, 255, 0.1);
    --input-border-color: rgba(255, 255, 255, 0.3);
    --modal-input-border-color: rgba(33, 33, 33, 0.2);
}

body {
    margin: 0;

    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* Logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 26px;

    color: var(--primary-color);
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--main-color);
}

/* Header */

.header {
    border-bottom: 1px solid var(--border-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.link {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
    transform: translateY(1px);
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 40px;
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo .accent,
.site-nav__link--current,
.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.footer__link:hover,
.footer__link:focus,
.footer__link.address:hover,
.footer__link.address:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    margin: 0 auto;

    text-align: center;

    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    margin-bottom: 40px;

    color: var(--main-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section */

.section__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Benefits */

.benefits__list {
    display: flex;
}

.benefits__item {
    width: calc((100% - 90px) / 4);
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__wrap-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--button-color);
    border-radius: 4px;
}

.benefits__subtitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits__description {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
}

/* We do  */

.section__we-do {
    padding-top: 0;
}

.we-do__list {
    display: flex;
    justify-content: space-between;
}

.we-do__img-wrap {
    position: relative;
}

.we-do__img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

/* Our team */

.our-team {
    background-color: var(--our-team-bg-color);
}

.our-team__list {
    display: flex;
}

.our-team__item {
    width: width: calc((100% - 90px) / 4);
    ;

    text-align: center;

    background-color: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__item:not(:last-child) {
    margin-right: 30px;
}

.our-team__wrap {
    padding: 30px 32px;
}

.our-team__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.our-team__text {
    margin-bottom: 16px;

    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.18;
}

.our-team__social-list {
    display: flex;
    justify-content: space-between;
}

.our-team__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:hover,
.our-team__social-link:focus {
    background-color: var(--accent-color);
}

.our-team__icon {
    fill: var(--icons-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:hover .our-team__icon,
.our-team__social-link:focus .our-team__icon {
    fill: var(--main-color);
}

/* Clients */

.clients__list {
    display: flex;
}

.clients__item {
    width: calc((100% - 5 * 30px) / 6);
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    color: var(--icons-color);

    border: 1px solid var(--icons-color);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    color: var(--accent-color);

    border: 1px solid var(--accent-color);
}

.client__icon {
    fill: currentColor;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bg-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__left-side {
    display: flex;
    align-items: baseline;
    width: 50%;
}

.footer__subtitle {
    margin-bottom: 20px;

    color: var(--main-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer__social-box {
    margin-left: 70px;
}

.footer__social-items {
    display: flex;
}

.footer__social-item:not(:last-child) {
    margin-right: 10px;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: var(--icons-transparent-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover,
.footer__social-link:focus {
    background-color: var(--accent-color);
}

.footer__social-icon {
    fill: var(--main-color);
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    color: var(--transparent-color);
    font-style: normal;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--address {
    color: var(--main-color);
}

/* Footer Subscribe */

.footer__subscribe {
    width: 49%;
    margin-left: auto;
}

.footer__form-wrap {
    display: flex;
    margin-left: auto;
}

.footer__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--main-color);

    outline: none;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input:hover,
.footer__input:focus {
    border: 1px solid var(--accent-color);
}

.footer__input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--transparent-color);
}

.footer__btn {
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__send-icon {
    margin-left: 10px;
}

/* Portfolio */

.section__portfolio {
    padding-top: 100px;
}

.portfolio__link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__button:not(:last-child) {
    margin-right: 8px;
}

.portfolio__examples-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item {
    width: calc((100% - 2 * 30px) / 3);
}

.portfolio__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.portfolio__img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
    transform: translateY(0);
}

.portfolio__wrap {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 20px 24px;
}

.portfolio__subtitle {
    margin-bottom: 4px;

    color: var(--primary-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Buttons */

.hero__button {
    padding: 10px 32px;

    font-family: inherit;
    color: var(--main-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus,
.footer__btn:hover,
.footer__btn:focus,
.modal__btn:hover,
.modal__btn:focus {
    background-color: var(--hero-btn-hover-color);
}

.button {
    padding: 6px 22px;

    font-family: inherit;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;

    background-color: var(--button-color);
    border: none;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--current,
.button:hover,
.button:focus {
    color: var(--main-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Modal */

.backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    min-height: 580px;
    padding: 40px;

    text-align: left;

    transform: translate(-50%, -50%);

    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
}

.modal__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__close-icon,
.modal__close:focus .modal__close-icon {
    fill: var(--accent-color);
}

.modal__title {
    display: block;
    margin-bottom: 12px;

    text-align: center;
    font-size: 20px;
    line-height: 1.15;
}

.modal__label {
    display: block;
    margin-bottom: 10px;
}

.modal__label.modal__label--big-margin {
    margin-bottom: 20px;
}

.modal__checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.modal__text {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.modal__input-wrap {
    position: relative;
    display: block;
}

.modal__input {
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;

    outline: none;
    border: 1px solid var(--modal-input-border-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,
.modal__input:focus,
.modal__textarea:focus,
.modal__textarea:hover {
    border: 1px solid var(--accent-color);
}


.modal__input:hover+.modal__icon,
.modal__input:focus+.modal__icon {
    fill: var(--accent-color);
}

.modal__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--modal-input-border-color);
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__old-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    top: 20px;
    left: 20px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal__checkbox {
    display: block;
    width: 16px;
    height: 15px;
    margin-left: 12px;

    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__old-checkbox:focus+.modal__checkbox,
.modal__old-checkbox:hover+.modal__checkbox {
    border: 2px solid var(--accent-color);
}

.modal__old-checkbox:checked+.modal__checkbox {
    background-color: var(--accent-color);
    background-image: url(../images/svg/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: border-box;
    border: 2px solid var(--accent-color);
}

.modal__old-checkbox:checked:focus+.modal__checkbox {
    outline: 1px solid var(--secondary-bg-color);
}

.modal__agree-text {
    margin-left: 9px;
    color: var(--secondary-color);
}

.modal__link {
    color: var(--accent-color);
}

.modal__btn {
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}